h1, h3 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 30px;
  text-align: center;
}

#box_1 {
  margin: auto;
  position: absolute;
	width: 200px;
	height: 200px;
	background-color: #ee3e64;
}

#box_2 {
  margin: auto;
	position: absolute;
	width: 200px;
	height: 200px;
  left: 208px;
	background: #44accf;
}

#box_3 {
  margin: auto;
	position: absolute;
	width: 200px;
	height: 200px;
  bottom: 40px;
	background: #b7d84b;
}
