h1, h3 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 30px;
  text-align: center;
  line-height: normal;
  margin-top: 120px;
}

#box_1 {
	position: absolute;
	top: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background: #ee3e64;
}
#box_2 {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 200px;
	background: #44accf;
}
#box_3 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 200px;
	height: 200px;
	background: #b7d84b;
}
#box_4 {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 200px;
	height: 200px;
	background: #ebde52;
}

#box_5 {
	position: absolute;
	top: 75px;
	left: 75px;
  width: 40px;
  height: 40px;
	background: #f95b34;
}


#box_6 {
	position: absolute;
	top: 75px;
	right: 75px;
  width: 40px;
  height: 40px;
	background: #f95b34;
}

#box_7 {
	position: absolute;
	bottom: 75px;
	left: 75px;
  width: 40px;
  height: 40px;
	background: #f95b34;
}

#box_8 {
	position: absolute;
	bottom: 75px;
	right: 75px;
  width: 40px;
  height: 40px;
	background: #f95b34;
}
